@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  margin: 10%;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row;
}

a {
  padding: 25px 2px 0px 2px;
}
#print {
  padding: 25px 10px 0px 0px;
}

.title {
  display: flex;
  flex-direction: row;
}

#logo {
  float: left;
  width: 45px;
  height: 45px;
  padding-top: 25px;
  padding-right: 5px;
}

#delicious {
  display: inline;
  font-size: 1.5rem;
  font-family: cursive;
  vertical-align: top;
  margin: none;
}

span {
  font-size: 0.45rem;
  display: inline-block;
  width: fit-content;
  position: absolute;
}

#recipe {
  font-size: 2rem;
  font-family: 'kdam thmor pro', sans-serif;
  font-weight: 750;
}

#printicon, figcaption {
  display: flex;
  justify-content: right;
  margin:none; 
  padding: none;
}



#lists {
  background-image: url('img/list-bg.png');
  background-size: cover;
  background-color: #cccc;
  column-count: 2;
}

li {
  list-style: none;
}



#mainimg {
  width: 950px;
}

#maintext {
  display: inline;
  justify-content: flex-start;

}

h2 {
  margin:0px; 
  padding-top: 50px; 
}

#spantext{

  font-size:.75rem; 
  margin: none; 

  
}


hr {
  border: 0;
  height: 15px;
  background-color: white;
  background-image: url(img/hr-img.png);
  background-repeat: repeat-x;
  overflow: hidden;
}

article>p {
  text-align: left;
  text-indent: 50px; 
}

button{
 display:center; 
  margin-right: auto;
  margin-left: auto: 
}


footer{
  display: flex; 
  justify-content:center; 
}